name: BaiduPCS Builder

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Build image"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Context
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: baidupcs/Dockerfile
          push: true
          cache-from: type=gha,scope=baidupcs
          cache-to: type=gha,mode=max,scope=baidupcs
          build-args: |
            BPCS_VER=${{ inputs.tag }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/baidupcs-go:${{ inputs.tag }}
            ${{ secrets.DOCKER_USERNAME }}/baidupcs-go:latest
