name: LEDE Config Generator

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "lede-config/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Context
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./lede-config
          file: ./lede-config/Dockerfile
          push: true
          cache-from: type=gha,scope=lede-config
          cache-to: type=gha,mode=max,scope=lede-config
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/lede-config:latest
