name: Menuconfig Generator

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "menuconfig/Dockerfile"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Context
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./menuconfig
          file: ./menuconfig/Dockerfile
          push: true
          cache-from: type=gha,scope=menuconfig
          cache-to: type=gha,mode=max,scope=menuconfig
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/menuconfig:latest
