name: Update Checker

env:
  REPO_URL: https://github.com/qjfoidnh/BaiduPCS-Go
  REPO_BRANCH: main

on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

permissions:
  actions: write
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Get Commit Hash
        id: getHash
        run: |
          commitHash=$(git ls-remote $REPO_URL HEAD | awk '{print $1}' | cut -c1-7)
          echo "Current Remote Hash: $commitHash"
          echo "commitHash=$commitHash" >> $GITHUB_OUTPUT

      - name: Compare Commit Hash
        id: cacheHash
        uses: actions/cache@v3
        with:
          path: .commitHash
          key: commitHash_${{ steps.getHash.outputs.commitHash }}

      - name: Save New Commit Hash
        if: steps.cacheHash.outputs.cache-hit != 'true'
        run: |
          echo ${{ steps.getHash.outputs.commitHash }} | tee .commitHash

      - name: Trigger build
        if: steps.cacheHash.outputs.cache-hit != 'true'
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'baidupcs-builder.yml',
              ref: 'main',
              inputs: {
                version_label: '${{ steps.getHash.outputs.commitHash }}'
              }
            })